<div class="flex text-xl justify-between items-center p-3 mb-3" style="height: 50px">
  <span class="pt-3">Tin nhắn</span>
</div>

<div class="flex-grow p-2 overflow-y-scroll">
  <ul >
    <li *ngFor="let message of messages"  (click)="selectMessage(message)"  class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
        <div class="flex-col ml-2 truncate">
            <div
            style="font-size: 16px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden" 
            >
                {{ message.name }}
            </div>
            <div
            style="text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;"
            >
            {{ message.message }}
            </div>

        </div>
        <div *ngIf="message.isRead" class="absolute top-7 right-1"
        style="background: hsl(214deg 89% 52%);
          width: 15px;
          height: 15px;
          border-radius: 10px"
          
      ></div>
    </li>
</ul>  
</div>

