<div class="bg-gray-200 p-1 ">
    <div style="display:flex; justify-content:space-between; align-items: center">
          <div class="text-gray-700 font-medium pb-2 text-xl">Messages</div>
            <button class="text-gray-700 font-medium pb-2" >
              +
            </button>
    </div>
    <!-- <ul className="mt-6">
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>
        <li class="text-gray-600 mb-2 hover:bg-sky-200 p-3 pl-1 rounded-md cursor-pointer relative flex items-center">
            <div className="flex-col ml-2 truncate">
                <div
                    style="font-size: '16px';
                    text-overflow: 'ellipsis';
                    white-space: 'nowrap';
                    overflow: 'hidden'" 
                >
                    123213
                </div>

                <div
                    style="text-overflow: ellipsis;
                    white-space:nowrap;
                    overflow: 'hidden';"
                >
                    Tin nhắn trống
                </div>
                </div>
        </li>

    </ul> -->
</div>